.mainContainer {
  display: block;
  margin-top: 87px;
  height: 226px;
  padding: 42px 75px 0px 75px;

  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.flexContainer {
  display: flex;
  gap: 80px;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.infoContainer {
  display: flex;
  flex-grow: 1;
  gap: 30px;
}

.infoColumn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 16px;
}
