.buttonContainer {
  display: flex;
  gap: 32px;
  align-self: flex-end;
  margin-top: 37px;
  margin-bottom: 35px;
  margin-right: 35px;
}

.button {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  border: none;
  color: var(--edit-avatar-button-font);
  background-color: transparent;
}
