.input {
  color: var(--login-input-color);
  font-size: 16px;
  width: 438px;
  height: 56px;
  padding: 0px 12px 0px 17px;
  border-radius: 4px;
  border: none;
  outline: none;
}

.inputInvalid {
  border: 2px solid var(--error-message-color);
}

.input:focus-visible {
  border: 2px solid var(--login-input-border);
}

.inputGroup {
  position: relative;
  padding: 0px;
  margin: 0px;
}

.input + label {
  position: absolute;
  top: -9px;
  left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: var(--login-input-border);
  background-color: var(--login-input-background-color);
  padding: 0 4px;
  visibility: hidden;
}

.input:focus-visible + label {
  visibility: visible;
}

.btnEye {
  width: 22px;
  height: 18px;
  position: absolute;
  top: 20px;
  right: 13px;
  border: none;
  opacity: 0.1;
}

.btnEye:hover {
  opacity: 1;
}

.eyeIcon {
  background: url("../../asserts/icons/eye.svg") no-repeat;
}

.crossedEyeIcon {
  background: url("../../asserts/icons/crossed-eye.svg") no-repeat;
}

.invalidIcon {
  background: url("../../asserts/icons/exclamationMark.svg") no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 13px;
  border: none;
}
